.particle-system {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

.particle {
  position: absolute;
  pointer-events: none;
}

.particle-sparkle {
  font-size: 1.2rem;
  filter: drop-shadow(0 0 5px var(--vapor-cyan));
}

.particle-dust {
  font-size: 0.5rem;
  color: var(--chalk-white);
  opacity: 0.4;
}